<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
</head>
<body>
    <section id ="cupcake-container"></section>
    <button id="add-button">Add Cupcake</button>
    <section id="cupcake-form" hidden>
        <form action="/api/cupcakes" method="post">
            <label for="flavor">Flavor</label>
            <input type="text" name="flavor" id="flavor">

            <label for="size">Size</label>
            <input type="text" name="size" id="size">

            <label for="rating">Rating</label>
            <input type="text" name="rating" id="rating">

            <label for="image">Image</label>
            <input type="text" name="image" id="image">

            <button id="cancel-add">Cancel</button>
            <button type="submit" id="submit">submit</button>
        </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>